{% extends "base.twig" %}

{% block content %}
<main class="container mx-auto px-4" role="main">
    {% for section in content %}
    <div class="flex -mx-4 mb-56 flex-wrap">
        {% if section.acf_fc_layout == 'single_column_image' %}
        <div class="w-full px-4 lg:w-8/12 mx-auto">
            <figure>
                {% if section.imagevideo == "Image"  %}
                <img class="w-full h-auto mb-4" src="{{section.image.url}}" {% if section.image.alt %}
                    alt="{{section.image.alt}}" {% endif %}>
                {% else %}
                <div class="relative pb-9/16 mb-2">
                    <div class="absolute w-full h-full">
                        {{section.video}}
                    </div>
                </div>
                {% endif %}
                {% if section.caption %}
                <figcaption class="text-sm">
                    {{section.caption}}
                </figcaption>
                {% endif %}
            </figure>
        </div>
        {% endif %}
        {% if section.acf_fc_layout == 'double_column_image' %}
        <div class="w-full px-4 flex items-center mb-32 lg:mb-0 lg:w-6/12">
            <figure>
                <img class="w-full h-auto mb-4" src="{{section.group_1.image.url}}" {% if section.group_1.image.alt %}
                    alt="{{section.group_1.image.alt}}" {% endif %}>
                {% if section.group_1.caption %}
                <figcaption class="text-sm">
                    {{section.group_1.caption}}
                </figcaption>
                {% endif %}
            </figure>
        </div>
        <div class="w-full px-4 flex items-center lg:w-6/12">
            <figure>
                <img class="w-full h-auto mb-4" src="{{section.group_2.image.url}}" {% if section.group_2.image.alt %}
                    alt="{{section.group_2.image.alt}}" {% endif %}>
                {% if section.group_2.caption %}
                <figcaption class="text-sm">
                    {{section.group_2.caption}}
                </figcaption>
                {% endif %}
            </figure>
        </div>
        {% endif %}
        {% if section.acf_fc_layout == 'text_area' %}
        <div class="w-full px-4 mx-auto text-2xl lg:w-1/2">
            {{section.text_area}}
        </div>
        {% endif %}
    </div>
    {% endfor %}
</main>
{% endblock %}