{% extends "base.twig" %}

{% block content %}
<main role="main" class="container mx-auto">
    <div class="flex -mx-4 mb-56">
        <div class="w-1/3 px-4">
            <div>
                <h1 class="text-2xl uppercase font-barlow-condensed text-red font-semibold tracking-widest">
                    {{ text_content.subheading }}
                </h1>
                <span class="text-6xl leading-tight">{{ text_content.heading }}</span>
                <div class="text-2xl">
                    {{text_content.text}}
                </div>
            </div>
        </div>
        <div class="w-2/3">
            <div class="flex -mx-4">
                {% for offer in offerings.offering %}
                <div class="w-1/2 px-4">
                    <span class="text-4xl">{{offer.title}}</span>
                    <div class="text-lg">
                        {{offer.description}}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="flex -mx-4">
        <div class="w-1/2 px-4">
            <h2 class="text-xl uppercase text-red font-semibold tracking-widest font-barlow-condensed">
                {{featured.subtitle}}
            </h2>
            <h3 class="text-6xl">
                {{featured.title}}
            </h3>
            <div class="text-2xl">
                {{featured.description}}
            </div>
            <a class="text-lg uppercase text-red font-semibold tracking-widest font-barlow-condensed"
                href="{{featured.link.link_location}}">
                {{featured.link.link_text}}
            </a>
        </div>
        <div class="w-1/2 px-4">
            img
        </div>
    </div>
</main>
{% endblock %}