{% extends "base.twig" %}

{% block content %}
<main role="main">
	<div class="container mx-auto px-4">
		<div class="flex -mx-4 mb-56 flex-wrap">
			<div class="w-full lg:w-1/3 px-4">
				<div class="mb-20 lg:mb-0">
					<h1 class="text-2xl uppercase font-barlow-condensed text-red font-semibold tracking-widest">
						{{ text_content.subheading }}
					</h1>
					<div class="mb-8 lg:mb-0">
						<span class="text-5xl lg:text-6xl leading-tight font-gotu">{{ text_content.heading }}</span>
					</div>
					<div class="text-2xl">
						{{text_content.text}}
					</div>
				</div>
			</div>
			<div class="w-full lg:w-2/3 px-4">
				<div class="flex -mx-4 flex-wrap">
					{% for offer in offerings %}
					<div class="w-full px-4 mb-20 md:w-1/2">
						{% if offer.image %}
						<div class="mb-2">
							<img class="w-full h-auto" src="{{offer.image.url}}" {% if offer.image.alt %}
								alt="{{offer.image.alt}}" {% endif %}>
						</div>
						{% endif %}
						<div class="mb-2">
							<span class="text-3xl font-gotu">{{offer.title}}</span>
						</div>
						<hr class="border-red border-b-4 w-8 mb-6">
						<div class="text-lg">
							{{offer.description}}
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	<div class="px-4">
		<div class="flex -mx-4 mb-56">
			<div class="px-4 w-full swiper-container">
				<div class="swiper-wrapper">
					{% for project in projects %}
					<div class="swiper-slide px-4">
						{% if project.thumbnail %}
						<div class="relative pb-9/16 mb-2">
							<img class="absolute w-full h-full object-cover" src="{{project.thumbnail.src}}">
						</div>
						{% endif %}
						<div>
							<span
								class="text-sm uppercase font-barlow-condensed text-red tracking-widest font-semibold">
								{{project.post_date | date("F d, Y") }}
							</span>
						</div>
						<div class="mb-2">
							<span class="text-3xl font-gotu">{{project.title}}</span>
						</div>
						<div class="mb-6">
							<p class="text-lg">{{project.custom.content_0_text_area}}</p>
						</div>
						<a class="uppercase text-red font-semibold tracking-widest font-barlow-condensed"
							href="{{project.link}}">
							<span class="mr-2 hover:mr-4 transition-fast">Keep Reading</span>
							<span>&rarr;</span>
						</a>
					</div>
					{% endfor %}
				</div>
				<div class="swiper-pagination"></div>
			</div>
		</div>
	</div>
	<div class="container mx-auto px-4">
		<div class="flex -mx-4 items-center flex-wrap">
			<div class="w-full lg:w-1/2 px-4 order-2 lg:order-none">
				<h2 class="text-xl uppercase text-red font-semibold tracking-widest font-barlow-condensed">
					{{featured.subtitle}}
				</h2>
				<h3 class="text-5xl lg:text-6xl font-gotu">
					{{featured.title}}
				</h3>
				<div class="text-2xl mb-8 lg:mb-14">
					{{featured.description}}
				</div>
				<a class="text-lg uppercase text-red font-semibold tracking-widest font-barlow-condensed"
					href="{{featured.link.link_location}}">
					<span class="mr-2 hover:mr-4 transition-fast">{{featured.link.link_text}}</span>
					<span>&rarr;</span>
				</a>
			</div>
			<div class="w-full lg:w-1/2 px-4 order-1 lg:order-none mb-12 lg:mb-0">
				<img class="w-full" src="{{featured.image.url}}" {% if featured.image.alt %}
					alt="{{featured.image.alt}}" {% endif %}>
			</div>
		</div>
	</div>
</main>
{% endblock %}

{% block javascript %}
<script>
	var mySwiper = new Swiper(".swiper-container", {
		slidesPerView: 1,
		loop: true,
		breakpoints: {
			640: {
				slidesPerView: 1,
			},
			768: {
				slidesPerView: 2,
			},
			1024: {
				slidesPerView: 3,
			},
		},
	});
</script>

{% endblock %}